# Ignore the SQLite database file
database.db

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/

# IDE/editor files
.vscode/
.idea/

# MacOS
.DS_Store

# Windows
Thumbs.db
